version: "3.9"

services:
  web:
    build: .
    depends_on:
      - db
    ports:
      - "5000:5000"
    env_file:
      - .env
  db:
    image: postgres:latest
    environment:
      POSTGRES_DB: yks_tutoring
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
